In [1]:
import pandas as pd

# CSVファイルを読み込み、データフレームdfに格納
df = pd.read_csv('data1.csv')

# 格納したデータの先頭5行を表示
df.head()

   Math  English
0    21       59
1    62        4
2    32       46
3    24       20
4    67       22

In [3]:
# 統計情報を表示
df.describe()

             Math     English
count  200.000000  200.000000
mean    44.690000   47.365000
std     15.731858   28.549556
min     20.000000    0.000000
25%     30.000000   21.750000
50%     45.000000   47.000000
75%     59.250000   71.000000
max     70.000000   99.000000

In [ ]:
'''
count・・・データ数
mean・・・平均値
std・・・標準偏差
min・・・最小値
25%・・・第1四分位数
50%・・・中央値
75%・・・第3四分位数
max・・・最大値
'''