In [22]:
import pandas as pd
from scipy.spatial import distance

# CSVファイルを読み込む
df = pd.read_csv('data5.csv')

# 距離計算の対象とする列を選ぶ
features = ['Math', 'English', 'Japanese']

# 最小距離とそのインデックスを初期化
min_distance = float('inf')
min_pair = None

# それぞれの人について他の全ての人との距離を計算
for i in range(len(df)):
    for j in range(i+1, len(df)):

        # ユークリッド距離を計算
        dist = distance.euclidean(df.loc[i, features], df.loc[j, features])

        # 距離distが最も小さくなったときの値と組み合わせを格納
        if dist < min_distance:
            min_distance = dist
            min_pair = (df.loc[i, 'Name'], df.loc[j, 'Name'])

# 最も近い2人の名前を表示
print(min_distance)
print(min_pair)

1.0
('ohcff', 'hfhvu')

In [23]:
# 視聴行動が最も近い2人のデータフレームを表示
# 1人目
df[df['Name'] == min_pair[0]]

     Name  Math  English  Japanese
28  ohcff    61       95        93

In [24]:
# 視聴行動が最も近い2人のデータフレームを表示
# 2人目
df[df['Name'] == min_pair[1]]

      Name  Math  English  Japanese
158  hfhvu    61       95        94